*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #f0f0f0;
    font-family: 'lobster', sans-serif;
}

.nav-container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    align-items: flex-start;
    text-align: center;
    justify-content: space-between;
}

.navbar {
    background-color: #FF9B45;
    box-shadow: 0 0px 0px 5px gray;
    padding: 5px 10px;
    width: 100%;
    position: fixed;
    z-index: 99;
    padding: 1rem;
}

.nav-left {
    margin: 0.5rem 0.5rem 1rem 0;
    display: flex;
    align-items: center;
}

.navbar a {
    text-decoration: none;
    color: black;
}

.navbar h1 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-left: 1rem;
    font-family: lobster;
}

.navbar-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.navbar-item ul {
    list-style: none;
    display: flex;
    gap: 1rem;
}

.navbar-item a {
    padding: 0.5rem 0.75rem;
    border-radius: 5px;
    transition: background 0.3s;
}

.navbar-item a:hover {
    background-color: #DE651A;
}

.navbar-toggler {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    color: white;
    margin-left: auto;
}

.navbar-toggler svg {
    width: 24px;
    height: 24px;
    vertical-align: middle;
    bottom: 5px;
}

.navbar-toggler:hover {
    background-color: #FF9B45;
    border: 1px solid black;
    border-radius: 5px;
}

.nav-link svg{
    color: black;
    width: 1.5rem;
    height: 1.5rem;
    vertical-align: middle;
    transition: color 0.3s;
}

@media screen and (min-width: 769px) {
    .navbar-item {
        display: flex;
        flex-direction: row;
    }

    .navbar-item ul {
        display: flex;
        flex-direction: row;
    }

    .navbar-toggler {
        display: none;
    }

    .navbar .nav-item:not(:last-child) {
        margin-right: 1rem;
        padding-right: 1rem;
        border-right: 1px solid #ccc;
    }
    
}

@media screen and (max-width: 768px) {
    .navbar-item {
        display: none;
        flex-direction: column;
        background-color: #FF9B45;
        padding: 1rem;
        width: 100%;
        transition: max-height 0.3s ease-in-out;
    }

    .navbar-item ul{
        flex-direction: column;
    }

    .navbar-item.show {
        display: flex;
    }

    .navbar-toggler {
        display: block;
        color: white;
    }
}

.navbar-toggler.active .navbar-item {
    display: flex;
}

.konten {
    width: 100%;
    height: 100vh;
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding-top: 6rem;
}

.cart-container {
    max-width: 800px;
    margin: 30px auto;
    background: #fff;
    padding: 1rem;
    border-radius: 10px;
}

h2 { text-align: center; 
    margin-bottom: 1rem;
}

.cart-item {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid #ddd;
    padding-bottom: 1rem;
    position: relative;
}

.cart-img { 
    width: 70px; 
    height: 70px; 
    border-radius: 8px; 
    object-fit: cover; 
}

.item-info { 
    flex-grow: 1;
}

.item-name { 
    font-weight: bold;
}

.item-price { 
    font-weight: bold; 
}

.quantity-control {
    display: flex; 
    align-items: center;
    margin-top: 0.3rem;
}
.qty-input { 
    width: 30px; 
    text-align: center; 
    margin: 0 5px; 
}

.dec-btn, .inc-btn { 
    width:25px;
    height:25px; 
}

.delete-btn {
    background: none; 
    border:none; color:red;
    font-size: 0.8rem; 
    cursor:pointer;
    position:absolute; 
    right:0; 
    top:0;
}

.cart-total {
    display: flex; 
    justify-content: space-between;
    align-items: center; 
    margin-top: 1rem;
}

.checkout-btn {
    padding: 10px 20px; 
    background: #FF9B45;
    border:none; 
    border-radius: 8px;
    cursor:pointer;
    transition: background 0.3s;
}

.checkout-btn:hover{
    background: #DE651A;
}

.pilih-semua {
    display:flex; 
    align-items:center; 
    gap:5px;
    margin-bottom: 1rem; 
    font-size:0.9rem;
}